<div id="toggle<%=panel_id%>">
  <div class="row no-gutter">
    <div class="col-sm-6"> 
        <h2>Number of calls made</h2>
          <div id="calls-made-<%=timeframe%>"> 
          </div>
    </div><!-- col-sm-4 --> 
    <div class="col-sm-2"> 
        <h2>Average calls</h2>
          <div id="calls-day-<%=timeframe%>"> 
          </div>
      </div><!-- col-sm-4 -->
    <div class="col-sm-2">
      <h2>Call Conversion</h2>
      <div id="call-conversion-rate-<%=timeframe%>">
      </div><!-- ccr --> 
    </div><!-- col-sm-4 -->
    <div class="col-sm-2">
      <h2>Activities</h2>
      <div id="activities-made-<%=timeframe%>">
      </div><!--activities-->
    </div><!-- col-md-4 -->
  </div><!-- row --> 
    
  </div><!-- row -->
  <div class="row no-gutter">
      <div class="col-sm-6">
      <h2>Deals Won</h2>
        <div id="deals-won-<%=timeframe%>">       
        </div><!---won-<%=timeframe%>-->  
    </div><!-- col-md-4 -->
    <div class="col-sm-2">
      <h2>Revenue</h2>
      <div id="revenue-<%=timeframe%>">
      </div><!--revenue-->
    </div><!-- col-md-4 -->
    <div class="col-sm-2">
      <h2>Average Budget</h2>
      <div id="budget-<%=timeframe%>">
      </div><!-- budget -->
    </div><!-- col-md-4 -->
    <div class="col-sm-2">
      <h2>Users</h2>
      <%= render partial: 'dashboard/name_key' %>
      </div><!-- ccr --> 
    </div><!-- col-sm-4 --> 
  </div><!-- row -->
</div> <!--toggle-1-->
