<!-- USE THIS CODE AS AN EXAMPLE ON HOW TO GET THE NAMES AND THE COLORS <ul>
  <% @users_data.each do |k| %>
    <li><p style="color: <%=k[:color]%>"> <%=k[:name]%> </p>
  <%end%>
</ul>
-->
<%= render partial: 'dashboard/header'%>
<div class="container">
  <%= render partial: 'dashboard/panel', locals: {panel_id: '1', timeframe: 'month'} %>
  <%= render partial: 'dashboard/panel', locals: {panel_id: '2', timeframe: 'quarter'} %>
  <%= render partial: 'dashboard/panel', locals: {panel_id: '3', timeframe: 'year'} %>
</div> <!-- container -->   


<%= render partial: 'dashboard/calls_made', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/calls_made', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/calls_made', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/won', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/won', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/won', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/calls_day', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/calls_day', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/calls_day', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/revenue', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/revenue', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/revenue', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/ccr', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/ccr', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/ccr', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/toggler' %>

