<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <title>Sales Dashboard</title>
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
    <link href="css/bootstrap.css" rel="stylesheet"><!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#month").click(function(){
          $("#toggle1").fadeOut();
        });
        $("#year").click(function(){
          $("#toggle2").hide();
        });
      });
    </script>
  </head>
	<body>
  <%= render partial: 'dashboard/header' %>
	<div class="container">
    <%= render partial: 'dashboard/panel', locals: {panel_id: '1', timeframe: 'month'} %>
    <%= render partial: 'dashboard/panel', locals: {panel_id: '2', timeframe: 'quarter'} %>
    <%= render partial: 'dashboard/panel', locals: {panel_id: '3', timeframe: 'year'} %>
  </div> <!-- container -->   


  <%= render partial: 'dashboard/calls_made', locals: {timeframe: 'year' } %>
  <%= render partial: 'dashboard/calls_made', locals: {timeframe: 'quarter' } %>
  <%= render partial: 'dashboard/calls_made', locals: {timeframe: 'month' } %>
  <%= render partial: 'dashboard/calls_day', locals: {timeframe: 'year' } %>
  <%= render partial: 'dashboard/calls_day', locals: {timeframe: 'quarter' } %>
  <%= render partial: 'dashboard/calls_day', locals: {timeframe: 'month' } %>
  <%= render partial: 'dashboard/revenue', locals: {timeframe: 'year' } %>
  <%= render partial: 'dashboard/revenue', locals: {timeframe: 'month' } %>
  <%= render partial: 'dashboard/revenue', locals: {timeframe: 'quarter' } %>
  <%= render partial: 'dashboard/budget', locals: {timeframe: 'year' } %>
  <%= render partial: 'dashboard/budget', locals: {timeframe: 'quarter' } %>
  <%= render partial: 'dashboard/budget', locals: {timeframe: 'month' } %>
  <%= render partial: 'dashboard/toggler' %>
  </body>
</html>