-<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>Sales Dashboard</title>
   <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
   <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">   
		<link href="style.css.scss" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
   <script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
	<body>
	<h1>Welcome</h1>

	<ul>
    <% @revenue_per_person.each do |k, v| %>
      <li> <%= k %> - <%= v[:month] %> </li>
    <%end%>


	</ul>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div><!--navbar-header -->
      <!-- Collect content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-center">
          <li><a href="#">Month</a></li>
          <li><a href="#">Quarter</a></li>
          <li><a href="#">Year</a></li>
        </ul><!-- /.navbar-center -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  
	<div class="container">
    <div class="row">
      <div class="col-sm-4"> 
        <h2>Number of calls made</h2>
          <div id="calls-made"> 
          </div>
      </div><!-- col-sm-4 --> 
      <div class="col-sm-4">
        <h2>Deals Won</h2>
          <div id="won">
          </div>  
      </div><!-- col-md-4 -->
      <div class="col-sm-4"> 
        <h2>Average calls per day</h2>
          <div id="calls-day"> 
          </div>
      </div><!-- col-sm-4 --> 
    </div><!-- row --> 
    <div class="row">
      <div class="col-sm-4">
        <h2>Revenue</h2>
        <div id="revenue">
        </div><!--revenue-->
      </div><!-- col-md-4 -->
      <div class="col-sm-4">
        <h2>Call Conversion Rate</h2>
        <div id="ccr">
          <ul>
            <li>Person A : 5.2</li>
            <li>Person B : 6.3</li>
            <li>Person C : 4.5</li>
            <li>Person D : 5.5</li>
          </ul>  
        </div><!-- ccr --> 
      </div><!-- col-sm-4 -->
      <div class="col-sm-4">
        <h3>Average Budget per Campaign</h3>
        <div id="budget">
        </div><!-- budget -->
      </div><!-- col-md-4 -->
    </div><!-- row -->
  </div>  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p class="a">Person A</p>
      </div><!-- col-sm-3 -->
      <div class="col-sm-3">
        <p class="b">Person B</p>
       </div><!-- col-sm-3 -->
      <div class="col-sm-3">
      <p class="c">Person C</p>
      </div><!-- col-sm-3 -->
      <div class="col-sm-3">
      <p class="d">Person D</p>
      </div>
    </div><!-- col-sm-3 -->
  </div> <!-- container -->   

  <script>
  Morris.Bar({
    element: 'calls-made',
    data: [
      <% @activities_per_person.each do |k, v| %>
      { y: ' <%=k%> ', a: ' <%=v[:month]%> '},
      <%end%>
    ],
    xkey: 'y',
    ykeys: ['a'],
    labels: ['Calls completed'],
    barColors: ["#B21516", "#1531B2", "#1AB244", "#B29215" ],
    hideHover: 'always',
    });
  </script>

  <script>
     Morris.Donut({
      element: 'won',
      data: [
        <% @number_of_sales_per_person.each do |k, v| %>
          { y: ' <%=k%> ', value: <%=v[:month]%>},
        <%end%>
      ],
    colors: [
      '#B21516',
      '#1531B2',
      '#1AB244',
      '#F2EB27'
    ]
    });
    </script>
    <script>
    Morris.Bar({
    element: 'calls-day',
    data: [
      <% @activities_per_person_per_day.each do |k, v| %>
      { y: ' <%=k%> ', a: ' <%=v[:month]%> '},
      <%end%>
    ],
    xkey: 'y',
    ykeys: ['a'],
    labels: ['Average calls Per Day'],
    barColors: ["#000000"],
    hideHover: 'always'
    });
    </script>
    <script>
    Morris.Bar({
      element: 'revenue',
      data: [
    		<% @revenue_per_person.each do |k, v| %>
        	{ y: ' <%=k%> ', a: ' <%=v[:month]%> '},
        <%end%>
    	],
      xkey: 'y',
      ykeys: ['a'],
      labels: ['Revenue'],
      hideHover: 'always'
    	});
    </script>
    <script>
      Morris.Bar({
        element: 'budget',
        data: [
        <% @average_revenue_per_person.each do |k, v| %>
        { y: ' <%=k%> ', a: ' <%=v[:month]%> '},
        <%end%>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Budget'],
        barColors: ["#000000"],
        hideHover: 'always',
      });
      </script>

  
</body>
</html>