<div class="container">
  <%= render partial: 'dashboard/panel', locals: {panel_id: '1', timeframe: 'month'} %>
  <%= render partial: 'dashboard/panel', locals: {panel_id: '2', timeframe: 'quarter'} %>
  <%= render partial: 'dashboard/panel', locals: {panel_id: '3', timeframe: 'year'} %>
</div> <!-- container -->   




<%= render partial: 'dashboard/activities_made', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/activities_made', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/activities_made', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/calls_made', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/calls_made', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/calls_made', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/deals_won', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/deals_won', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/deals_won', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/calls_day', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/calls_day', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/calls_day', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/revenue', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/revenue', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/revenue', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/call_conversion_rate', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/call_conversion_rate', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/call_conversion_rate', locals: {timeframe: 'month' } %>
<%= render partial: 'dashboard/budget', locals: {timeframe: 'year' } %>
<%= render partial: 'dashboard/budget', locals: {timeframe: 'quarter' } %>
<%= render partial: 'dashboard/budget', locals: {timeframe: 'month' } %>

<%= render partial: 'dashboard/toggler' %>
